xsd/gmm/unknown/v20220101/Gmm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:INSPIRE="http://inspire.ec.europa.eu/schemas/ge-core/4.0"
   xmlns:bro="http://www.broservices.nl/xsd/brocommon/3.0"
   xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/1.0"
   xmlns:gex="http://standards.iso.org/iso/19115/-3/gex/1.0"
   xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
   xmlns:gmm="http://www.broservices.nl/xsd/gmm/1.0"
   xmlns:imvert="http://www.imvertor.org/schema/system" xmlns:xs="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://www.broservices.nl/xsd/gmm/1.0" elementFormDefault="qualified"
   attributeFormDefault="unqualified" version="1.0.0-1">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/model-info/project">Logical model</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/application">gmm</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/release">20220101</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/version">1.0.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/phase">1</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/uri">http://www.broservices.nl/xsd/gmm</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/generated">2021-12-10T09:23:18Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/file-location">gmm/unknown/v20220101/Gmm.xsd</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generated">December 10, 2021 at 09:23:18</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generator">1.65.3</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
   </xs:annotation>
   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>
   <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0"
      schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
   <xs:import namespace="http://standards.iso.org/iso/19115/-3/cit/1.0"
      schemaLocation="https://standards.iso.org/iso/19115/-3/cit/1.0/cit.xsd"/>
   <xs:import namespace="http://standards.iso.org/iso/19115/-3/gex/1.0"
      schemaLocation="http://standards.iso.org/iso/19115/-3/gex/1.0/gex.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2"
      schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
   <xs:import namespace="http://inspire.ec.europa.eu/schemas/ge-core/4.0"
      schemaLocation="http://inspire.ec.europa.eu/schemas/ge-core/4.0/GeologyCore.xsd"/>
   <xs:element name="GeomorphologicalMap" type="gmm:GeomorphologicalMapType"
      substitutionGroup="bro:RegistrationObject">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Model (kaart) met informatie over de geomorfologie in Nederland op schaal 1:50.000.
Explanation: geomorfologie</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeomorphologicalMapType">
      <xs:complexContent>
         <xs:extension base="bro:RegistrationObjectType">
            <xs:sequence>
               <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De naam van de verzameling.
Explanation: de unieke identificatie van een deelverzameling van het model (kaart) bijvoorbeeld het kaartbladnummer of de naam van het project.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="citation" type="cit:CI_Citation_PropertyType" minOccurs="1"
                  maxOccurs="1"/>
               <xs:element name="scale" type="xs:integer" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De schaal waarop de gegevens zijn ingewonnen.
Explanation: De kaartschaal van de geomorfologische kaart is 1:50.000, waarop de karteermethode en nauwkeurigheid (detaillering van de gebruikte classificatie) is afgestemd</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1" maxOccurs="unbounded" name="relatedAreaCollection"
                  nillable="false" type="gmm:GeomorphologicalAreaCollectionPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geomorfologische kaart bestaat uit een of meer Geomorfologische vlakcollecties.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeomorphologicalMapPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:GeomorphologicalMap"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="GeomorphologicalAreaCollection" type="gmm:GeomorphologicalAreaCollectionType"
      substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een verzameling van één of meer bij elkaar horende geomorfologische vlakken, met een geomorfologische beschrijving, en vlakken van geomorfologische belang, zonder een geomorfologische beschrijving.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeomorphologicalAreaCollectionType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identification" type="gmm:IdentifierType" minOccurs="1"
                  maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De unieke aanduiding van de geomorfologische kaart.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="classification" type="gmm:ClassificationType" minOccurs="1"
                  maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De soort verzameling van het model.
Explanation: de documentatie van een verzameling bij elkaar horende geomorfologische kaartvlakken. Bijvoorbeeld in de vorm van beschrijvende rapportage bij actualisaties</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1" maxOccurs="1" name="source" nillable="false"
                  type="gmm:FileType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De typering van de hoogte informatie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="extent" type="gex:EX_Extent_PropertyType" minOccurs="1"
                  maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De omhullende begrenzing van het gebied waar het model geheel binnen valt.
Explanation: De begrenzing is aangegeven door een rechthoek met de linker bovenhoek en rechter onderhoek.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="citation" type="cit:CI_Citation_PropertyType" minOccurs="1"
                  maxOccurs="1"/>
               <xs:element name="inventoryMethod" minOccurs="1" maxOccurs="1"
                  type="gmm:InventoryMethodType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>InventoryMethod</CodeListName>
                        <CodeListURI>urn:bro:gmm:InventoryMethod</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De inventarisatiemethode die is gebruikt.
Explanation: Als kartering oude stijl is dan is de hoogtepunten kaart (schaal 1:10 000) gebruikt niet vastgelegd is welke versie, dus het attribuut versie is voidable. De naam en versie van het bestand met hoogte informatie dat, binnen een Geomorfologisch vlakcollectie, is gebruikt bij het afbakenen en classificeren van de Geomorfologische vlakken.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="beginLifespanVersion" type="xs:dateTime" minOccurs="1"
                  maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="endLifespanVersion" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1" maxOccurs="unbounded" name="relatedMapArea" nillable="false"
                  type="gmm:MapAreaPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geomorfologische vlakcollectie bestaat uit een of meer Kaartvlakken.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeomorphologicalAreaCollectionPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:GeomorphologicalAreaCollection"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="MapArea" type="gmm:MapAreaType" abstract="true"
      substitutionGroup="INSPIRE:MappedFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Abstract objecttype voor het definiëren van de gemeenschappelijke kenmerken voor Vlak van geomorfologisch belang en Geomorfologisch vlak.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="MapAreaType" abstract="true">
      <xs:complexContent>
         <xs:extension base="INSPIRE:MappedFeatureType">
            <xs:sequence>
               <xs:element name="identification" type="gmm:IdentifierType" minOccurs="1"
                  maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De unieke aanduiding van een Kaartvlak.
Explanation: Een externe object-ID is een unieke object-identifier die door de verantwoordelijke instantie is gepubliceerd en die door externe toepassingen kan worden gebruikt om naar het ruimtelijke object te verwijzen. De identifier is een identifier van het ruimtelijke object en niet een identifier van het fenomeen in de echte wereld.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MapAreaPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:MapArea"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="AreaOfGeomorphologicalInterest" type="gmm:AreaOfGeomorphologicalInterestType"
      substitutionGroup="gmm:MapArea">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Vlak van geomorfologisch belang.
Explanation: Primaire waterkerende dijken en dijken (bijvoorbeeld in Zeeland) die van belang/invloed zijn (geweest) op de vorming van landvormen. Scheiding tussen landvormen die wel en niet onderhevig zijn aan dynamische -> rivier- en getijde-invloeden.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AreaOfGeomorphologicalInterestType">
      <xs:complexContent>
         <xs:extension base="gmm:MapAreaType">
            <xs:sequence>
               <xs:element name="geomorphologicalInterest" minOccurs="1" maxOccurs="1"
                  type="gmm:GeomorphologicalInterestType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>GeomorphologicalInterest</CodeListName>
                        <CodeListURI>urn:bro:gmm:GeomorphologicalInterest</CodeListURI>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AreaOfGeomorphologicalInterestPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:AreaOfGeomorphologicalInterest"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="GeomorphologicalArea" type="gmm:GeomorphologicalAreaType"
      substitutionGroup="gmm:MapArea">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een begrensd gebied met overeenkomstige geomorfologische kenmerken
Explanation: de begrenzing is de 2D afbeelding van het 3D lichaam (landvorm) op het aardoppervlak (maaiveld), zodat het als kaart is te gebruiken</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeomorphologicalAreaType">
      <xs:complexContent>
         <xs:extension base="gmm:MapAreaType">
            <xs:sequence>
               <xs:element minOccurs="1" maxOccurs="1" name="landformMapUnit" nillable="false"
                  type="gmm:LandformMapUnitType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een landvormeenheid geclassificeerd aan de hand van 7 geomorfologische kenmerken.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeomorphologicalAreaPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:GeomorphologicalArea"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:complexType name="FileType">
      <xs:sequence>
         <xs:element name="name" type="gmm:FileNameType" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De naam of beschrijving van het bestand met hoogte informatie.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="version" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De versie van het bestand met hoogte informatie.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LandformMapUnitType">
      <xs:sequence>
         <xs:element name="additionalRelief" type="gmm:AdditionalReliefPropertyType" minOccurs="0"
            maxOccurs="2">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Nadere typering van het reliëf en/of typering van de (relatieve) hoogteligging van de landvormeenheid.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="activeProcess" type="xs:boolean" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Onderverdeling van landvormeenheden naar het wel of niet onderhevig zijn aan een actief vormingsproces. Indien er geomorfologische processen actief op een landvorm inwerken wordt dit in dit attribuut aangegeven.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="additionalSurfaceCover" minOccurs="0" maxOccurs="3"
            type="gmm:AdditionalSurfaceCoverType">
            <xs:annotation>
               <xs:appinfo>
                  <CodeListName>AdditionalSurfaceCover</CodeListName>
                  <CodeListURI>urn:bro:gmm:AdditionalSurfaceCover</CodeListURI>
               </xs:appinfo>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Typering van de landvormsubgroep bedekkende laag.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="1" maxOccurs="1" name="relief" nillable="false"
            type="gmm:ReliefTypeType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Typering van de verticale dimensie van de landvormeenheid.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="1" maxOccurs="1" name="landformSubgroup" nillable="false"
            type="gmm:LandformSubgroupTypeType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Vormen binnen de landvormgroep en dezelfde genese, maar met andere specifieke vormkenmerken.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LandformSubgroupTypeType">
      <xs:sequence>
         <xs:element name="identification" type="gmm:IdentifierType" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De unieke aanduiding van een landvormsubgroep.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="landFormGroup" minOccurs="1" maxOccurs="1" type="gmm:LandformGroupType">
            <xs:annotation>
               <xs:appinfo>
                  <CodeListName>LandformGroup</CodeListName>
                  <CodeListURI>urn:bro:gmm:LandformGroup</CodeListURI>
               </xs:appinfo>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een groep van landvormen die in hun uiterlijke gedaante bepaalde geomorfologische kenmerken gemeenschappelijk hebben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="genesis" type="gmm:GenesisPropertyType" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De ontstaanswijze van landvormen.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReliefTypeType">
      <xs:sequence>
         <xs:element name="reliefCode" type="gmm:ReliefCodePropertyType" xsi:nill="true" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Code van reliëf.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reliefClass" minOccurs="1" maxOccurs="1" type="gmm:ReliefClassType">
            <xs:annotation>
               <xs:appinfo>
                  <CodeListName>ReliefClass</CodeListName>
                  <CodeListURI>urn:bro:gmm:ReliefClass</CodeListURI>
               </xs:appinfo>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Klasse van reliëf.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="IdentifierType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Externe unieke object-identifier gepubliceerd door de verantwoordelijke instantie, die kan worden gebruikt door externe toepassingen om te verwijzen naar het ruimtelijke object. (bron: INSPIRE)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="FileNameType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Aanduiding voor naam van een bestand.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="AHN"/>
         <xs:enumeration value="Topografische hoogtelijnenkaart"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ClassificationType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Aanduiding voor soort Bestand.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="kaartblad"/>
         <xs:enumeration value="onderzoeksgebied"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Genesis" type="gmm:GenesisType">
      <xs:annotation>
         <xs:appinfo source="http://www.imvertor.org/data-info/uri">urn:bro:gmm:Genesis</xs:appinfo>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Aanduiding voor soort Genese.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GenesisType">
      <xs:sequence>
         <xs:element name="code" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Code van genese.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="formQualifyingFactors" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Vormbepalende factoren van genese.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GenesisPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:Genesis"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ReliefCodeValley" type="gmm:ReliefCodeValleyType">
      <xs:annotation>
         <xs:appinfo source="http://www.imvertor.org/data-info/uri">urn:bro:gmm:ReliefCodeValley</xs:appinfo>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Aanduiding voor soort ReliefCodeDal.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ReliefCodeValleyType">
      <xs:sequence>
         <xs:element name="depth" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Diepte t.o.v. omgeving in meter.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="steepestGradient" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Steilste verhang</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="maximumElevationDifference" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Maximaal hoogteverschil binnen de vorm in meters.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="maximumDrop" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Maximaal verval in meters.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="code" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Code van relief dal.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReliefCodeValleyPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:ReliefCodeValley"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ReliefCodeNonValley" type="gmm:ReliefCodeNonValleyType">
      <xs:annotation>
         <xs:appinfo source="http://www.imvertor.org/data-info/uri">urn:bro:gmm:ReliefCodeNonValley</xs:appinfo>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Aanduiding voor soort ReliëfCodeNietDal.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ReliefCodeNonValleyType">
      <xs:sequence>
         <xs:element name="relief" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Relief.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="slope" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Helling.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="localMaximumElevationDifference" minOccurs="1" maxOccurs="1"
            type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lokaal maximaal hoogteverschil in meters.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="code" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Code van relief niet-dal.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReliefCodeNonValleyPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:ReliefCodeNonValley"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AdditionalRelief" type="gmm:AdditionalReliefType">
      <xs:annotation>
         <xs:appinfo source="http://www.imvertor.org/data-info/uri">urn:bro:gmm:AdditionalRelief</xs:appinfo>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Aanduiding voor soort ToevoegingRelief.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AdditionalReliefType">
      <xs:sequence>
         <xs:element name="code" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Code van toevoeging relief.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Omschrijving van toevoeging relief.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdditionalReliefPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:AdditionalRelief"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GeomorphologicalInterestType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace" type="xs:anyURI" use="required"
               fixed="urn:bro:gmm:GeomorphologicalInterest"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="InventoryMethodType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace" type="xs:anyURI" use="required"
               fixed="urn:bro:gmm:InventoryMethod"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="LandformGroupType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace" type="xs:anyURI" use="required"
               fixed="urn:bro:gmm:LandformGroup"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ReliefClassType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace" type="xs:anyURI" use="required"
               fixed="urn:bro:gmm:ReliefClass"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="AdditionalSurfaceCoverType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace" type="xs:anyURI" use="required"
               fixed="urn:bro:gmm:AdditionalSurfaceCover"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:element name="ReliefCode" type="gmm:ReliefCodeType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een samengestelde waardes voor reliefcode waarbij een gekeuze gemaakt moet worden tussen dalwaarde (ReliefCodeDalWaarde) en niet-dalwaarde (ReliefCodeNietDalWaarde).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ReliefCodeType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element ref="gmm:ReliefCodeValley"/>
         <xs:element ref="gmm:ReliefCodeNonValley"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="ReliefCodePropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmm:ReliefCode"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
